body,
h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  /* background-color: rgb(174, 236, 251); */
  /* text-align: justify; */
}

nav {
  text-align: left;
}

#result {
  text-align: center;
  font-size: 30px;
}
