*{
    font-family: 'Sunflower', sans-serif;
}
h1{
    text-align: center;
}

.estilo {
    display: inline;
    text-align: center;
   

}
section {
    text-align: center;
    background-color: olive;
    max-width: 100%; /*ancho*/
    height: 100%;
    border: 5px solid #dd7412b9;
}

